#app {
  /* font: 10px; */
  min-width: 550px;
  min-height: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px
}

.nav {
  padding-right: 40px
}

.fa {
  font-size: 60px;
  color: red

}

li {
  list-style: none;
  display: inline-flex;
  margin-right: 10px;
  text-align: center
 }

 ul {
   text-align: center
 }